<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mantotech.accsmartcontrol" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:gap="http://phonegap.com/ns/1.0">
    <gap:config-file parent="/manifest" platform="android">
        <application android:debuggable="true" />
    </gap:config-file>
    <name>Acc Smart Control</name>
    <description>
        Phonegap App for controlling ACC spa and sauna devices. Funtionality is limited to bluetooth usage.
    </description>
    <author email="lucianomanto@gmail.com">
        MLTech
    </author>
    <content src="index.html" />
    <access origin="*" />
    <platform name="ios">
        <!-- <icon src="images/icons/apple-touch-icon-114x114-precomposed.png" height="180" width="180" />
        <icon src="images/icons/apple-touch-icon-144x144-precomposed.png" height="144" width="144" />
        <icon src="images/icons/apple-touch-icon-72x72-precomposed.png" height="72" width="72" />
        <icon src="images/icons/apple-touch-icon-precomposed.png" /> -->
        <config-file parent="UIBackgroundModes" target="*-Info.plist">
            <array>
                <string>bluetooth-central</string>
            </array>
        </config-file>
    </platform>
    <platform name="android" />
    <engine name="browser" spec="^5.0.4" />
    <engine name="ios" spec="^4.5.5" />
    <engine name="android" spec="^7.1.4" />
    <plugin name="cordova-plugin-device" spec="2.0.2" />
    <plugin name="cordova-custom-config" spec="5.1.0" />
    <plugin name="cordova-plugin-ble-central" spec="1.2.2">
        <variable name="BLUETOOTH_USAGE_DESCRIPTION" value=" " />
    </plugin>
</widget>
