<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mantotech.accsmartcontrol" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:gap="http://phonegap.com/ns/1.0">
    <gap:config-file parent="/manifest" platform="android">
        <application android:debuggable="true" />
    </gap:config-file>
    <name>Acc Smart Control</name>
    <description>
        Phonegap App for controlling ACC spa and sauna devices. Funtionality is limited to bluetooth usage.
    </description>
    <author email="lucianomanto@gmail.com">
        MLTech
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon height="180" platform="ios" src="images/icons/res/icon/ios/icon-60@3x.png" width="180" />
    <icon height="60" platform="ios" src="images/icons/res/icon/ios/icon-60.png" width="60" />
    <icon height="120" platform="ios" src="images/icons/res/icon/ios/icon-60@2x.png" width="120" />
    <icon height="76" platform="ios" src="images/icons/res/icon/ios/icon-76.png" width="76" />
    <icon height="152" platform="ios" src="images/icons/res/icon/ios/icon-76@2x.png" width="152" />
    <icon height="167" platform="ios" src="images/icons/res/icon/ios/icon-83.5@2x.png" width="167" />
    <icon height="29" platform="ios" src="images/icons/res/icon/ios/icon-small.png" width="29" />
    <icon height="58" platform="ios" src="images/icons/res/icon/ios/icon-small@2x.png" width="58" />
    <icon height="87" platform="ios" src="images/icons/res/icon/ios/icon-small@3x.png" width="87" />
    <icon height="40" platform="ios" src="images/icons/res/icon/ios/icon-40.png" width="40" />
    <icon height="80" platform="ios" src="images/icons/res/icon/ios/icon-40@2x.png" width="80" />
    <icon height="120" platform="ios" src="images/icons/res/icon/ios/icon-40@3x.png" width="120" />
    <platform name="ios">
        <config-file parent="UIBackgroundModes" target="*-Info.plist">
            <array>
                <string>bluetooth-central</string>
            </array>
        </config-file>
    </platform>
    <platform name="android" />
    <engine name="browser" spec="^5.0.4" />
    <engine name="ios" spec="^4.5.5" />
    <engine name="android" spec="^7.1.4" />
    <plugin name="cordova-plugin-device" spec="2.0.2" />
    <plugin name="cordova-custom-config" spec="5.1.0" />
    <plugin name="cordova-plugin-ble-central" spec="1.2.2">
        <variable name="BLUETOOTH_USAGE_DESCRIPTION" value=" " />
    </plugin>
</widget>
