.registration-popup {
    width: 92.5%;
	max-width: 500px;
	margin: 10% auto 15px auto;
	padding: 15px 20px;
	/* top: -15px; */
}
/* .centered {
    text-align: center;
    width: 88%;
    margin:0 auto;
    margin-left:auto;
    margin-right:auto;
    align:center;
} */

#custom-border-radius .ui-btn-icon-notext.ui-corner-all {
    -webkit-border-radius: .3125em;
    border-radius: .3125em;
}

.custom-panel {
    width: 13em;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}