html {
    -webkit-user-select: none;
}

.page-title {
    text-align: center;
}

.description {
    font-size: small;
    color: darkgray;
}

.my-button {
    /* font-size: smaller; */
    margin-top: 7%;
}

#main-actions {
    width: min-content;
    display: inline-block;
}

.centered-container {
    text-align: center;
}

.registration-popup {
    width: 92.5%;
	max-width: 500px;
	margin: 10% auto 15px auto;
	padding: 15px 20px;
	/* top: -15px; */
}
/* .centered {
    text-align: center;
     width: 88%;
    margin:0 auto;
    margin-left:auto;
    margin-right:auto;
    align:center;
} */

#custom-border-radius .ui-btn-icon-notext.ui-corner-all {
    -webkit-border-radius: .3125em;
    border-radius: .3125em;
}

.device-button {
    
}

.custom-panel {
    width: 13em;
}

.loader {
    border: 4px solid #e2e2e2;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    position: relative;
    margin-bottom: 11%;
    text-align: center;
    margin:0 auto;
    margin-left:auto;
    margin-right:auto;
    align:center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}